body {
  font-family: Arial;
  background: linear-gradient(135deg,#0f172a,#1e293b);
  color:white;
  margin:0;
}
header { text-align:center; padding:20px; }
.container { max-width:1000px; margin:auto; padding:20px; }
.card {
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  padding:20px;
  border-radius:15px;
  margin-bottom:20px;
}
input, button {
  padding:10px;
  margin:5px;
  border-radius:8px;
  border:none;
}

select {
  padding:10px;
  margin:5px;
  border-radius:8px;
  border:none;
  background: white;
  color: #1e293b;
}

button { background:#3b82f6; color:white; cursor:pointer; }
.progress { background:#334155; border-radius:10px; overflow:hidden; }
.progress-bar { background:#22c55e; height:20px; width:0%; }
table { width:100%; margin-top:10px; border-collapse:collapse; }
th, td { padding:10px; border-bottom:1px solid #334155; }
img { width:50px; }